/* Terminal styling */
input {
  outline: none;
}

#terminal {
  @apply flex-col-reverse max-h-[70%] overflow-y-scroll flex min-w-[500px] w-[500px] max-w-[500px];
  scrollbar-width: none;
}

#scroller * {
  overflow-anchor: none;
}

#input-anchor {
  overflow-anchor: auto;
  height: 1px;
}

/* Terminal line styling */
.terminal-line {
  font-size: 1.02em;
}

.terminal-line.hash {
  color: var(--terminal-hash);
  font-weight: bold;
}

.terminal-line.out {
  color: var(--terminal-out);
}

.terminal-line.shog {
  color: var(--terminal-shog);
}

.terminal-line.input {
  color: var(--terminal-input);
}

.terminal-line.system {
  color: var(--terminal-system);
}

.terminal-line.error {
  color: var(--terminal-error);
}
